.stick {
  width: var(--w);
  height: var(--h);
  background-color: transparent;
  padding: 0;
  --bh: calc(var(--h) * 0.2);
  position: absolute;
  transition: all 0.25s ease-in-out;
}

.stick div {
  box-sizing: content-box;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.head {
  margin: 0 auto;
  margin-top: calc(var(--h) * 0.32);
  --d: calc(var(--h) * 0.2);
  width: var(--d);
  height: var(--d);
  border: var(--t) solid var(--c);
  border-radius: 50%;
  font-size: smaller;
  background-color: var(--bgc, transparent);
}

.body {
  margin: 0 auto;
  width: 0;
  height: var(--bh);
  border: calc(var(--t) * 0.5) solid var(--c);
}

.body > div {
  margin: 0 auto;
  width: 0;
  height: 0;
}

.arms {
  top: calc(var(--bh) * 0.05);
}

.legs {
  top: var(--bh);
}

.arms div,
.legs div {
  content: '';
  width: 0;
  display: inline-block;
  background-color: var(--c, transparent);
  border-radius: var(--t);
  border: calc(var(--t) * 0.5) solid var(--c);
  transform-origin: top center;
}

.arms > div:last-child,
.legs > div:last-child {
  /* transform-origin: bottom left; */
  left: calc(-1 * var(--t));
  transform: scaleX(-1) rotate(var(--angle-0, var(--base-0))) translate(calc(-0.5 * var(--t)));
}

.arms > div,
.legs > div {
  position: absolute;
  top: 0;
  left: calc(-0.5 * var(--t));
  height: calc(var(--bh) * 0.65);
  transform: rotate(var(--angle-0, var(--base-0)));
}

.arms > div > div,
.legs > div > div {
  margin-top: calc(var(--bh) * 0.65);
  margin-left: calc(-0.5 * var(--t));
  height: calc(var(--bh) * 0.5);
  transform: rotate(var(--angle-1, var(--base-1)));
}

.arms > div > div > div,
.legs > div > div > div {
  margin-top: calc(var(--bh) * 0.5);
  margin-left: calc(-0.5 * var(--t));
  height: calc(var(--bh) * 0.15);
  transform: rotate(var(--angle-2, var(--base-2)));
}
