div.bubble {
  border-radius: var(--br);
  border: var(--t) solid var(--bc, transparent);
  position: absolute !important;
  width: fit-content;
  height: fit-content;
  background-color: var(--bgc, transparent);
  padding: calc(var(--t, 1px) * 2);
}

.text {
  text-align: center;
  font-family: var(--f, Comic Sans MS, Comic Sans, cursive);
  font-size: var(--fs, calc(var(--bh) * 0.5));
  font-weight: var(--fw, normal);
  color: var(--c, #888);
  white-space: pre;
}
