.container {
  width: var(--w, 100%);
  height: var(--h, 100%);
  position: relative;
  outline: var(--t, 2px) solid var(--c, #888888);
  margin: 3rem auto;
  overflow: hidden;
  background-color: var(--bgc, transparent);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
